<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{pageTitle}} | Catálogo</title>
</head>

<body>
    <div class="site-wrapper">
        <header class="header">
            <div class="container nav">
                <h1>Mi Catálogo</h1>
                <nav>
                    <a href="/">Inicio</a>
                    <a href="/productos">Productos</a>
                    <a href="/quienes-somos">Quiénes Somos</a>
                    <a href="/contacto">Contacto</a>
                </nav>
            </div>
        </header>

        <main>
            {{{body}}}
        </main>
        <footer class="footer">
            <div class="container">
                <p>Proyecto MVC con Express, PostgreSQL y Handlebars</p>
            </div>
        </footer>


    </div>
</body>

</html>